@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 951px; }
  @media (max-width: 963px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 768.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

@-webkit-keyframes clip-path1 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0); } }

@keyframes clip-path1 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0); } }

.block1_out {
  background-image: url("../img/fon2_1.webp");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover; }

.block1 {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  -webkit-transition: -webkit-clip-path 1s;
  transition: -webkit-clip-path 1s;
  -o-transition: clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s; }
  .block1:hover {
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    -o-transition: clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s; }
  .block1__body {
    margin: 100px 0 0 0;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: drop 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: drop 2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

@-webkit-keyframes drop {
  0% {
    top: -40%; }
  100% {
    top: 40%; } }

@keyframes drop {
  0% {
    top: -40%; }
  100% {
    top: 40%; } }

.img_content {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto; }
  .img_content img {
    border-top-left-radius: 60px;
    width: 100%;
    height: 100%; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: #fff;
  max-width: 700px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  @media (max-width: 800px) {
    .content {
      max-width: 100%; } }
  @media (max-height: 800px) {
    .content {
      top: 30vh; } }

.img_qr__out {
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%; }

.img_qr {
  z-index: -1;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto; }
  .img_qr img {
    width: 100%;
    height: 100%; }

.box__body_1 {
  background-color: #fff;
  margin: 0 100px;
  margin: 0 0 40px 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px; }

.parallax {
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh; }
  @media (max-width: 700px) {
    .parallax {
      display: none; } }

.parallax__list {
  position: relative;
  min-height: 100vh; }

.itemg {
  position: absolute;
  z-index: 1; }
  .itemg img {
    width: 100%; }
    @media (min-height: 650px) {
      .itemg img {
        height: 100%; } }
