@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 951px; }
  @media (max-width: 963px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 768.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

@-webkit-keyframes clip-path1 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0); } }

@keyframes clip-path1 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0); } }

.block1_out {
  background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874__340.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover; }

.block1 {
  margin: 50px 0 0 0;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #e12;
  -webkit-transition: -webkit-clip-path 1s;
  transition: -webkit-clip-path 1s;
  -o-transition: clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s;
  -webkit-clip-path: circle(40vw);
  clip-path: circle(40vw); }
  .block1:hover {
    -webkit-clip-path: circle(70vw);
    clip-path: circle(70vw);
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    -o-transition: clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s; }
  .block1__body {
    position: absolute;
    min-height: 100vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.parallax {
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh; }

.parallax__list {
  position: relative;
  min-height: 100vh; }

.itemg {
  position: absolute;
  bottom: 50%; }

.parallax__item2 {
  right: 50%; }

.block2 {
  min-height: 100vh; }
  .block2 .img_container .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .block2 .img_container .img img {
      margin: 1vh 0 0 0;
      border: 1px solid #000;
      width: 50%;
      height: 50%;
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }

.block3 {
  min-height: 100vh;
  background-color: #e12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
