<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронирование билетов</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/null.css">
    <link rel="stylesheet" type="text/css" href="style/default.css" />
    <link rel="stylesheet" type="text/css" href="style/component.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
    <link href="https://unpkg.com/vue-cal/dist/vuecal.css" rel="stylesheet">
    <script src="https://unpkg.com/vue-cal"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <div class="content">
        <div class="slider__bg" :class="{backpopup: this.popupShowed}">
            <div id="app">
                <div class="sections-menu">
	      <span
                  class="menu-point"
                  :class="{active: activeSection == index}"
                  @click="scrollToSection(index)"
                  v-for="(offset, index) in offsets"
                  :key="index">

	      </span>
                </div>
                <section class="fullpage slide1" :class="{backpopup: this.popupShowed}">

                    <div class="slider__bg__conent" :class="{backpopup: this.popupShowed}">
                        <div class="slider" :class="{backpopup: this.popupShowed}">
                            <div class="slider__scrol" :class="{backpopup: this.popupShowed}">
                                <div class="slider__list" :class="{backpopup: this.popupShowed}">
                                    <div class="item slider__item1" @click="scrollToSection(0)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item2" @click="scrollToSection(1)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item3" @click="scrollToSection(2)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item4" @click="scrollToSection(3)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="slider__slide1 slide" :class="{backpopup: this.popupShowed}">
                                <div class="slide__content" :class="{backpopup: this.popupShowed}">
                                    <div class="slide__title">Выберите фильм</div>
                                    <div v-if="(activeSection == 0)"
                                         @click="showFilter(e)" class="slide__filter">
                                        Фильтр:
                                    </div>

                                    <transition name="slide-fade">
                                        <div class="box_filterPanel" v-if="((isFilterActive) && (activeSection === 0))">
                                            <div class="filterPanel">
                                                <swiper ref="swiperComponent"
                                                        :options="swiperOptions"
                                                        @click-slide="onSwiperClickSlide">
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[0]}">
                                                        Фэнтези
                                                    </swiper-slide>
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[1]}">
                                                        Триллеры
                                                    </swiper-slide>
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[2]}">
                                                        Комедии
                                                    </swiper-slide>
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[3]}">
                                                        Фантастика
                                                    </swiper-slide>
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[4]}">
                                                        Ужасы
                                                    </swiper-slide>
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[5]}">
                                                        Драмы
                                                    </swiper-slide>
                                                    <swiper-slide
                                                            :class="{selectedGenre: this.selectedIndexes[6]}">
                                                        Мелодрамы
                                                    </swiper-slide>
                                                    <div class="swiper-pagination" slot="pagination"></div>
                                                </swiper>
                                                <div>
                                                    <input v-model="onlyWith" type="checkbox" id="onlyWith"
                                                           name="onlyWith">
                                                    <label for="onlyWith" style="color: black" class="filter__check">Только с билетами</label>
                                                </div>
                                            </div>
                                        </div>
                                    </transition>
                                    <div class="slide__body panel">
                                        <div class="panel__conent">
                                            <ul class="grid cs-style-4">
                                                <li>
                                                    <figure>
                                                        <div class="figure__img"><img src="img/films/tS8vmo4WTsM.jpg" alt="img05"></div>
                                                        <figcaption>
                                                            <h3>Шерлок ХОЛМС</h3>
                                                            <span>Jacob Cummings</span>
                                                            <a href="#">Take a look</a>
                                                        </figcaption>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <div class="figure__img"><img src="img/films/iOvhy2OGl2g.jpg" alt="img05"></div>
                                                        <figcaption>
                                                            <h3>Высотка</h3>
                                                            <span>Jacob Cummings</span>
                                                            <a href="#">Take a look</a>
                                                        </figcaption>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <div class="figure__img"><img src="img/films/--Jw3X0UP90.jpg" alt="img05"></div>
                                                        <figcaption>
                                                            <h3>Лучшее лето нашей жизни</h3>
                                                            <span>Jacob Cummings</span>
                                                            <a href="#">Take a look</a>
                                                        </figcaption>
                                                    </figure>
                                                </li>
                                                <!--<li>
                                                    <figure>
                                                        <div class="figure__img"><img src="img/5.png" alt="img05"></div>
                                                        <figcaption>
                                                            <h3>Safari</h3>
                                                            <span>Jacob Cummings</span>
                                                            <a href="#">Take a look</a>
                                                        </figcaption>
                                                    </figure>
                                                </li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="slide__futter"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="fullpage slide2" :class="{backpopup: this.popupShowed}">

                    <div class="slider__bg__conent">
                        <div class="slider" :class="{backpopup: this.popupShowed}">
                            <div class="slider__scrol">
                                <div class="slider__list" :class="{backpopup: this.popupShowed}">
                                    <div class="item slider__item1" @click="scrollToSection(0)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item2" @click="scrollToSection(1)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item3" @click="scrollToSection(2)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item4" @click="scrollToSection(3)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="slider__slide1 slide">
                                <div class="slide__content" :class="{backpopup: this.popupShowed}">
                                    <div class="slide__title">
                                        <div style="background-color: #4d26db; color: white; height: 10%">
                                            Выберите время
                                        </div>
                                    </div>
                                    <div class="slide__body panel">
                                        <div class="panel__conent" style="display: flex">
                                            <div style="display: flex; flex-direction: column; width: 60%">
                                                <div>
                                                    <p>Дата сеанса</p>
                                                    <button
                                                            v-for="(seance, index) in this.seances"
                                                            :key="index"
                                                            style="margin-right: 20px"
                                                            @click="selectDate(index)"
                                                            :class="{activeDate: isActiveDate[index]}">
                                                        {{seance.date}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <p>Время сеанса</p>
                                                    <button
                                                            v-for="(seance, index) in this.seances[this.selectedDateID].seances"
                                                            :key="index"
                                                            style="margin-right: 20px"
                                                            @click="selectTime(index)"
                                                            :class="{activeDate: isActiveTime[index]}">
                                                        {{seance}}
                                                    </button>
                                                </div>
                                            </div>
                                            <vue-cal
                                                    :events="events"
                                                    hide-view-selector
                                                    :disable-views="['years', 'year', 'week']"
                                                    @cell-focus="handleCalendar($event)"
                                                    active-view="month"
                                                    xsmall
                                                    style="height: 50%; width: 40%; display: flex"
                                            />
                                        </div>
                                    </div>
                                    <div class="slide__futter"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="fullpage slide3" :class="{backpopup: this.popupShowed}">

                    <div class="slider__bg__conent">
                        <div class="slider" :class="{backpopup: this.popupShowed}">
                            <div class="slider__scrol">
                                <div class="slider__list" :class="{backpopup: this.popupShowed}">
                                    <div class="item slider__item1" @click="scrollToSection(0)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item2" @click="scrollToSection(1)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item3" @click="scrollToSection(2)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item4" @click="scrollToSection(3)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="slider__slide1 slide slide3" :class="{backpopup: this.popupShowed}">
                                <div class="slide__content" :class="{backpopup: this.popupShowed}">
                                    <div class="slide__title">Выберите билеты</div>
                                    <div class="slide3__body panel3">
                                        <div class="panel3__conent" :class="{backpopup: this.popupShowed}">
                                            <div class="panel3-item panel3__item1">
                                                <div class="panel3-item__content">
                                                    <div class="panel3-item__title">1 билет</div>
                                                    <div class="panel3-item__body" :class="{backpopup: this.popupShowed}">Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing elit. Quis, provident.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel3-item panel3__item2">
                                                <div class="panel3-item__content" :class="{backpopup: this.popupShowed}">
                                                    <div class="panel3-item__title">2 билета</div>
                                                    <div class="panel3-item__body" :class="{backpopup: this.popupShowed}">Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing elit. Error, ex!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel3-item panel3__item3" :class="{backpopup: this.popupShowed}">
                                                <div class="panel3-item__content" :class="{backpopup: this.popupShowed}">
                                                    <div class="panel3-item__title">много билетов</div>
                                                    <div class="panel3-item__body" :class="{backpopup: this.popupShowed}">Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing elit. Voluptas, libero.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide3__futter"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="fullpage slide4" :class="{backpopup: this.popupShowed}">

                    <div class="slider__bg__conent" :class="{backpopup: this.popupShowed}">
                        <div class="slider" :class="{backpopup: this.popupShowed}">
                            <div class="slider__scrol" :class="{backpopup: this.popupShowed}">
                                <div class="slider__list" :class="{backpopup: this.popupShowed}">
                                    <div class="item slider__item1" @click="scrollToSection(0)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body" :class="{backpopup: this.popupShowed}"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item2" @click="scrollToSection(1)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body" :class="{backpopup: this.popupShowed}"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item3" @click="scrollToSection(2)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body" :class="{backpopup: this.popupShowed}"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>
                                    <div class="item slider__item4" @click="scrollToSection(3)" :class="{backpopup: this.popupShowed}">
                                        <div class="item__content" :class="{backpopup: this.popupShowed}">
                                            <div class="item__title"> </div>
                                            <div class="item__body" :class="{backpopup: this.popupShowed}"></div>
                                            <div class="item__futter"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="slider__slide1 slide" :class="{backpopup: this.popupShowed}">
                                <div class="slide__content" :class="{backpopup: this.popupShowed}">
                                    <div class="slide__title">Заполните контактные данные</div>
                                    <button @click="showPopup()" :class="{backpopup: this.popupShowed}">ОК</button>
                                    <div class="slide__body panel">
                                        <div class="panel__conent">
                                            <div class="panel__left panel-left">
                                                 <div class="panel-left__conent">
                                                     <div class="panel-left-top">
                                                         <div class="panel-left-top__content">
                                                             <div class="panel-item panel__item1">
                                                                 <div class="panel__text">Имя:</div>
                                                                 <div class="panel__input"></div>
                                                             </div>
                                                             <div class="panel-item panel__item2">
                                                                 <div class="panel-item__content">
                                                                     <div class="panel__text">Фамилия:</div>
                                                                     <div class="panel__input"></div>
                                                                 </div>
                                                             </div>
                                                             <div class="panel-item panel__item3">
                                                                 <div class="panel-item__content">
                                                                     <div class="panel__text">Номер телефона:</div>
                                                                     <div class="panel__input"></div>
                                                                 </div>
                                                             </div>
                                                             <div class="panel-item panel__item4">
                                                                 <div class="panel-item__content">
                                                                     <div class="panel__text">Электронная почта:</div>
                                                                     <div class="panel__input"></div>
                                                                 </div>
                                                             </div>
                                                             <div class="panel-item panel__item5">
                                                                 <div class="panel-item__content">
                                                                     <div class="panel__text">Бонусная карта:</div>
                                                                     <div class="panel__input"></div>
                                                                 </div>
                                                             </div>
                                                             <div class="panel-item panel__item6">
                                                                <div class="panel-item__content-btn">
                                                                     <a href="#" class="panel-item__btn">Онлайн</a>
                                                                    <a href="#" class="panel-item__btn">При входе</a>
                                                                    <a href="#" class="panel-item__btn">Перевод</a>
                                                                </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="panel-left-bottom"><a href="#" class="submit">оплатить</a></div>
                                                 </div>
                                            </div>
                                            <div class="panel__right panel-right">
                                                <div class="panel-right__content">
                                                    <div class="panel-right__img"></div>
                                                    <div class="panel-right__text">
                                                        <div class="panel-right-item__content">
                                                            <div class="panel-right-item panel-right__item1"></div>
                                                            <div class="panel-right-item panel-right__item2"></div>
                                                            <div class="panel-right-item panel-right__item3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide__futter"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
    <div v-if="popupShowed" id="popup" @click="closePopup">
        <div style="position: fixed;
                                top: 50%;
                                left: 50%;
                                width: 300px;
                                height: 300px;
                                background-color: #FFFFFF;
                                transform: translate(-50%, -50%);">
            POPUP
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper"></script>
<script src="js/modernizr.custom.js"></script>
<script>
    Vue.use(VueAwesomeSwiper)
    Vue.component('vue-cal', vuecal)
    const app = new Vue({
        el: '#wrapper',
        data: {
            inMove: false,
            popupShowed: false,
            activeSection: 0,
            offsets: [],
            touchStartY: 0,
            touchStartX: 0,
            isFilterActive: false,
            onlyWith: false,
            events: [],
            selectedTimeID: 0,
            selectedDateID: 0,
            isActiveDate: [true, false, false, false, false, false, false],
            isActiveTime: [true, false, false, false, false, false, false],
            seances: [{date: "2020-07-20", seances: ["16:46"]}, {date: "2020-07-22", seances: ["10:00"]}],
            selectedIndexes: {
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false
            },
            swiperOptions: {
                loop: true,
                slidesPerView: 3,
                pagination: {
                    el: '.swiper-pagination'
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            }
        },
        methods: {
            selectDate(index) {
                this.selectedDateID = index
                for (let i = 0; i < this.isActiveDate.length; i++)
                    this.isActiveDate[i] = false
                this.isActiveDate[index] = true
            },
            selectTime(index) {
                this.selectedTimeID = index
                for (let i = 0; i < this.isActiveTime.length; i++)
                    this.isActiveTime[i] = false
                this.isActiveTime[index] = true
            },
            handleCalendar(event) {
                let ndate = new Date()
                ndate.setDate(event.getDate())
                let str = ndate.toISOString()
                let dateStr = str.split("T")[0]

                for (let i = 0; i < this.seances.length; i++) {
                    if (dateStr == this.seances[i].date) {
                        this.selectDate(i)
                    }
                }
            },

            showPopup() {
                this.popupShowed = true;
            },

            closePopup() {
                if (this.popupShowed)
                this.popupShowed = false;
            },

            calculateSectionOffsets() {
                let sections = document.getElementsByTagName('section');
                let length = sections.length;

                for (let i = 0; i < length; i++) {
                    let sectionOffset = sections[i].offsetTop;
                    this.offsets.push(sectionOffset);
                }

            },
            onSwiperClickSlide(index, reallyIndex) {
                this.selectedIndexes[reallyIndex] = !this.selectedIndexes[reallyIndex]
            },
            showFilter(e) {
                this.isFilterActive = !this.isFilterActive;
            },
            handleMouseWheel: function (e) {

                if (e.wheelDelta < 30 && !this.inMove) {
                    this.moveUp();
                } else if (e.wheelDelta > 30 && !this.inMove) {
                    this.moveDown();
                }

                e.preventDefault();
                return false;
            },
            handleMouseWheelDOM: function (e) {

                if (e.detail > 0 && !this.inMove) {
                    this.moveUp();
                } else if (e.detail < 0 && !this.inMove) {
                    this.moveDown();
                }

                return false;
            },
            moveDown() {
                this.inMove = true;
                this.activeSection--;

                if (this.activeSection < 0) this.activeSection = this.offsets.length - 1;

                this.scrollToSection(this.activeSection, true);
            },
            moveUp() {
                this.inMove = true;
                this.activeSection++;

                if (this.activeSection > this.offsets.length - 1) this.activeSection = 0;

                this.scrollToSection(this.activeSection, true);
            },
            scrollToSection(id, force = false) {
                if (this.inMove && !force) return false;

                this.activeSection = id;
                this.inMove = true;
                let sections = document.getElementsByTagName('section');
                let length = sections.length;

                for (let i = 0; i < length; i++) {
                    if (document.getElementsByTagName('section')[i] != id) {
                        document.getElementsByTagName('section')[i].classList.remove('_active');
                    }
                }
                document.getElementsByTagName('section')[id].scrollIntoView({behavior: 'smooth'});
                document.getElementsByTagName('section')[id].classList.toggle('_active');


                setTimeout(() => {
                    this.inMove = false;
                }, 400);

            },

            touchStart(e) {
                this.touchStartY = e.touches[0].clientY;
                this.touchStartX = e.touches[0].clientX;
            },

            touchMove(e) {
                if (this.inMove) return false;

                const currentY = e.touches[0].clientY;
                const currentX = e.touches[0].clientX;

                let diffY = this.touchStartY - currentY;
                let diffX = this.touchStartX - currentX;

                if (Math.abs(diffY) > Math.abs(diffX)) {
                    if (this.touchStartY < currentY) {
                        this.moveDown();
                    } else {
                        this.moveUp();
                    }
                }

                this.touchStartY = 0;
                this.touchStartX = 0;
                return false;
            }
        },
        created() {
            this.calculateSectionOffsets();
            
            window.addEventListener('DOMMouseScroll', this.handleMouseWheelDOM);  // Mozilla Firefox
            window.addEventListener('mousewheel', this.handleMouseWheel, {passive: false}); // Other browsers

            window.addEventListener('touchstart', this.touchStart, {passive: false}); // mobile devices
            window.addEventListener('touchmove', this.touchMove, {passive: false}); // mobile devices
        },
        destroyed() {
            window.removeEventListener('mousewheel', this.handleMouseWheel, {passive: false});  // Other browsers
            window.removeEventListener('DOMMouseScroll', this.handleMouseWheelDOM); // Mozilla Firefox

            window.removeEventListener('touchstart', this.touchStart); // mobile devices
            window.removeEventListener('touchmove', this.touchMove); // mobile devices
        },
        mounted() {
            for (let i = 0; i < this.seances.length; i++) {
                this.events.push({start: this.seances[i].date, end: this.seances[i].date})
            }
        }
    });
</script>
<style>

    .filterPanel {
        background: #FFF;
        width: 60vw;

    }

    .activeDate {
        border: 2px solid red;
    }

    .vuecal__flex {
        font-size: 18pt;
    }

    .fullpage {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;

    }

   

    .backpopup {
        background: rgba(0, 0, 0, 0.2);
    }

    .sections-menu {
        position: fixed;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .sections-menu .menu-point {
        width: 20px;
        height: 20px;
        background-color: #FFF;
        display: block;
        margin: 1rem 0;
        opacity: .6;
        transition: .4s ease all;
        cursor: pointer;
        border-radius: 50%;
    }

    .sections-menu .menu-point.active {
        opacity: 1;
        transform: scale(1.5);
    }

    .swiper-container {
        height: 4em;
        width: 100%;

    }

    .swiper-slide {
        text-align: center;
        font-size: 2em;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.2);
        flex: 0 0 200px;
        width: 30px;
        border-radius: 30px;
        margin: 0 0.5em;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active до версии 2.1.8 */
    {
        transform: translateX(10px);
        opacity: 0;
    }

    .selectedGenre {
        background: rgb(100,46,144);
   background: linear-gradient(90deg, rgba(100,46,144,1) 0%, rgba(37,130,196,1) 100%);

    }
</style>
</html>
