@font-face {
    font-family: 'MES';
    src: local('☺'), local('☺'), url('../fonts/Madeevolvesansbold.woff2') format('woff2'), url('../fonts/Madeevolvesansbold.woff') format('woff'), url('../fonts/Madeevolvesansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.wrapper {	

font-family: 'MES';
}
.content {
		min-height: 100vh;
}
.slider__bg{
		min-height: 100vh;
	
		background: url('../img/Ktvm22nrJVg.jpg') 0 0/100% auto no-repeat;
		@media (max-width: 2839px) {
		//background-size:  auto 100vh;
		background-size: cover;
			background-position: 50% 40%;
		}
		display: flex;
		align-items: center;
		justify-content: center;
}
#app{
	width: 70vw;
	height: 70vh;
	overflow-y: hidden;
	
	@media (max-width: 1600px) {
		width: 90vw;
		
		
	}
	@media (max-width: 769px) {
		width: 98vw;
		& .sections-menu{
			display: none;
		}
		& .slider{
		flex-direction: column;
		&__list{
			flex-direction: row;
			align-items: stretch;
		.item{
			margin: 0.5vh 0px;
		}
		}
		}
	}
	
}
._active .slide{
animation: slide_scrol 2s ease ;
}
@keyframes slide_scrol{
0%{
opacity: 0.1;

}
100%{
opacity: 1;
} 
}
.slider__bg__conent{
	
	flex: 1 1 auto;

}
.slider {
width: 100%;
	height: 70vh;
	
	display: flex;
	background-color: black;
	
	
	
}
.slider__scrol {
	flex: 0 0 12.5vw;
	
	//border: 1px solid #000;
	background-color: transparent;
	background: rgb(100,46,144);
   background: linear-gradient(90deg, rgba(100,46,144,1) 0%, rgba(37,130,196,1) 100%);
	

}
.slider__list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: url('../img/plenka_short.png') 0 -5px/100% 103% no-repeat;
}
.item {

	flex: 1 1 5vh;
	//border: 1px solid #000;
	
	margin: 0;
	&:first-child{
	margin: 0.6vh 0 0 0;
	}
	&:last-child{
	margin: 0 0 0.6vh 0;
	}
}
.slider__item1{
		
		background: url('../icon/filmbel-01.svg') 50% 50% /80% 80% no-repeat;

}
.slide1 .slider__item1 {
	
	border-left: 2px solid red;

}
.slide__filter{
	font-size: 2em;
	color: #7606b6;
	font-weight: 700;
	padding: 0.1em;
	align-self: flex-start;
}
.slider__item2{
	background: url('../icon/vremyabel-01.svg') 50% 50% /80% 80% no-repeat;

}
.slide2 .slider__item2 {
border-left: 2px solid red;

}
.slider__item3{
	background: url('../icon/biletybel-01.svg') 50% 50% /80% 80% no-repeat;

}
.slide3 .slider__item3 {
border-left: 2px solid red;

}

.slider__item4{
		background: url('../icon/kontaktbel-01.svg') 50% 50% /80% 80% no-repeat;

}
.slide4 .slider__item4 {
border-left: 2px solid red;

}
.item__content {}
.item__title {
	text-align: center;
}
.item__body {}
.item__futter {}
.slider__item2 {}
.slider__item3 {}
.slider__item4 {}

.slider__slide1 {
	flex: 1 1 auto;
	

}
.slide {
	background-color: #fff;
}

.slide {}
.slide__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

}
.slide__title {
	height: 60px;	
	color: white;
	font-size: 3em;
	background: rgb(100,46,144);
   background: linear-gradient(90deg, rgba(100,46,144,1) 0%, rgba(37,130,196,1) 100%);
	padding: 0.1em;

}
.slide3__body {
	flex: 1 1 auto;
}
.panel3 {}
.panel3__conent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
@media (max-width: 769px) {
	flex-wrap: wrap;
}
}
.panel3-item {
	flex: 1 0 33.33%;
	height: 50%;
	padding: 20px;
	
}
.panel3-item__content{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.panel3__item1 {}
.panel3-item__title {}
.panel3-item__body {flex: 1 1 auto;}
.panel3__item2 {}
.panel3__item3 {}
.slide3__futter {}
.content__bg {}
._ibg {
	min-height: 100vh;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.box_filterPanel{
	display: flex;
	justify-content: start;
	overflow: hidden;
 & .filterPanel{
	width: 57.5vw;
	@media (max-width: 1600px) {
		
		width: 77.5vw;
		
	}
	@media (max-width: 769px) {
		width: 97.5vw;

	}
 }
}
swiper-slide{
	color: white;
}
.filter__check{
	font-size: 2em;
	margin: 1em 0 0 0;
	position: relative;
	/*&:before{
	content: '';
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	}*/

}
///последний блок
.slide__body {
	width: 100%;
	height: 100%;
}
.panel {}
.panel__conent {
	width: 100%;
	height: 100%;
	display: flex;
justify-content: space-around;
}
.panel__left {
	flex: 0 1 60%;

}
.panel-left {

}
.panel-left__conent {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.panel-left-top {
	flex: 0 1 70%;
}
.panel-left-top__content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;

}
.panel-item {
	flex: 0 1 20%;
}
.panel-item__content{
	display: flex;
	justify-content: space-between;
}
.panel-item__content-btn{
	display: flex;

}
.panel__item1 {}
.panel__text {}
.panel__input {}
.panel__item2 {}
.panel__item3 {}
.panel__item4 {}
.panel__item5 {}
.panel__item6 {}
.panel-item__btn {flex: 0 1 33.333%}
.panel-left-bottom {
	flex: 0 1 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit {}
.panel__right {
	flex: 0 1 40%;
}
.panel-right {}
.panel-right__content {}
.panel-right__img {}
.panel-right__text {}
.panel-right-item__content {}
.panel-right-item {}
.panel-right__item1 {}
.panel-right__item2 {}
.panel-right__item3 {}
///