/*Обнуление*/
*{padding:0;margin:0;border:0;
transition: all 1s ease 0s;
}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
//шрифт по умолчанию
$font-family: "";
//основные переменные
$minwidth: 320px;
$mw: 950;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//оболочка
.wrapper{
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded{

	}
}
// /оболочка
//основная сетка

.container{
	max-width: $mw+1px;
	
	@media (max-width: $md1+1px) {
		max-width: 970px;
	}
	@media (max-width: $md2+1px) {
		

	}
	@media (max-width: $md3+1px) {
		max-width: none;
		padding: 0 10px;
	}

	
}

@keyframes clip-path1 {
	0%{
		clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);

	}
	100%{

		clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);

	}
}
.block1_out{
	background-image: url('../img/fon2_1.webp');
	background-repeat: no-repeat;
	background-position:0 0;
	background-size: cover;
}
.block1 {
	
	min-height: 100vh;
	max-width: 100vw;
	
	
	transition: clip-path 1s;
	//clip-path: circle(40vw);	
	&:hover{
	//clip-path: circle(70vw);
	transition: clip-path 1s;
	
	}
	&__body{
		
			
			position: absolute;
			left: 50%;
			top: 40%;
			transform: translate(-50%, -50%);
			animation: drop 2s cubic-bezier(0.68,-0.55,0.265,1.55)  ;
	}
	@keyframes drop{
		0%{top: -40%;}
		100%{top: 40%;}
	}


}
.img_content{
		max-width: 600px;
	max-height: 600px;
margin: 0 auto;


		& img{
			border-top-left-radius: 60px;
			width: 100%;
			height: 100%;
		}
		}
.content{
	display: flex;
	flex-direction: column;
	 border-bottom-left-radius: 30%;
	 border-bottom-right-radius: 30%;

	 background-color: #fff;
	 		max-width: 700px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
@media (max-width:  800px) {
		max-width: 100%;
	}
	@media (max-height:   800px) {
		
		top: 30vh;
	}

	
}
.img_qr__out{
	
	border-bottom-left-radius: 30%;
border-bottom-right-radius: 30%;
}
.img_qr{
	z-index: -1;
	max-width: 200px;
	max-height: 200px;
margin: 0 auto;
	& img{
			width: 100%;
			height: 100%;
	}
}
.box__body_1{
background-color: #fff;
margin: 0 100px;
margin: 0 0 40px 0;
text-align: center;
font-weight: 600;
font-size: 16px;
}

.lor{

}

.parallax {
	 
	 min-width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	@media (max-width: 700px) {
		display: none;
		
	}
}
.parallax__list {
	position: relative;
	min-height: 100vh;
}
.parallax__item1 {


}
.itemg {
 position: absolute;

 
 z-index: 1;
 & img{
 	width: 100%;
 	height: 100%;
 }

}
.parallax__item2 {
	
}
.parallax__item3 {}


// /основная сетка
