@charset "UTF-8";
@font-face {
  font-family: 'MES';
  src: local("☺"), local("☺"), url("../fonts/Madeevolvesansbold.woff2") format("woff2"), url("../fonts/Madeevolvesansbold.woff") format("woff"), url("../fonts/Madeevolvesansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.wrapper {
  font-family: 'MES'; }

.content {
  min-height: 100vh; }

.slider__bg {
  min-height: 100vh;
  background: url("../img/Ktvm22nrJVg.jpg") 0 0/100% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 2839px) {
    .slider__bg {
      background-size: cover;
      background-position: 50% 40%; } }

#app {
  width: 70vw;
  height: 70vh;
  overflow-y: hidden; }
  @media (max-width: 1600px) {
    #app {
      width: 90vw; } }
  @media (max-width: 769px) {
    #app {
      width: 98vw; }
      #app .sections-menu {
        display: none; }
      #app .slider {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #app .slider__list {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch; }
          #app .slider__list .item {
            margin: 0.5vh 0px; } }

._active .slide {
  -webkit-animation: slide_scrol 2s ease;
  animation: slide_scrol 2s ease; }

@-webkit-keyframes slide_scrol {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes slide_scrol {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.slider__bg__conent {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.slider {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black; }

.slider__scrol {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 12.5vw;
  flex: 0 0 12.5vw;
  background-color: transparent;
  background: #642e90;
  background: -webkit-gradient(linear, left top, right top, from(#642e90), to(#2582c4));
  background: -webkit-linear-gradient(left, #642e90 0%, #2582c4 100%);
  background: -o-linear-gradient(left, #642e90 0%, #2582c4 100%);
  background: linear-gradient(90deg, #642e90 0%, #2582c4 100%); }

.slider__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: url("../img/plenka_short.png") 0 -5px/100% 103% no-repeat; }
  @media (max-width: 769px) {
    .slider__list {
      background: url("../img/setka-hor.png") 0 0px/100% 100% no-repeat; } }

.item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 5vh;
  flex: 1 1 5vh;
  margin: 0; }
  .item:first-child {
    margin: 0.6vh 0 0 0; }
  .item:last-child {
    margin: 0 0 0.6vh 0; }

.slider__item1 {
  background: url("../icon/filmbel-01.svg") 50% 50%/80% 80% no-repeat; }

.slide1 .slider__item1 {
  border-left: 2px solid red; }
  @media (max-width: 769px) {
    .slide1 .slider__item1 {
      border-left: none;
      border-bottom: 2px solid red; } }

.slide__filter {
  font-size: 2em;
  color: #7606b6;
  font-weight: 700;
  padding: 0.1em;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.slider__item2 {
  background: url("../icon/vremyabel-01.svg") 50% 50%/80% 80% no-repeat; }

.slide2 .slider__item2 {
  border-left: 2px solid red; }
  @media (max-width: 769px) {
    .slide2 .slider__item2 {
      border-left: none;
      border-bottom: 2px solid red; } }

.slider__item3 {
  background: url("../icon/biletybel-01.svg") 50% 50%/80% 80% no-repeat; }

.slide3 .slider__item3 {
  border-left: 2px solid red; }
  @media (max-width: 769px) {
    .slide3 .slider__item3 {
      border-left: none;
      border-bottom: 2px solid red; } }

.slider__item4 {
  background: url("../icon/kontaktbel-01.svg") 50% 50%/80% 80% no-repeat; }

.slide4 .slider__item4 {
  border-left: 2px solid red; }
  @media (max-width: 769px) {
    .slide4 .slider__item4 {
      border-left: none;
      border-bottom: 2px solid red; } }

.item__title {
  text-align: center; }

.slider__slide1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.slide {
  background-color: #fff; }

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.slide__title {
  height: 60px;
  color: white;
  font-size: 3em;
  background: #642e90;
  background: -webkit-gradient(linear, left top, right top, from(#642e90), to(#2582c4));
  background: -webkit-linear-gradient(left, #642e90 0%, #2582c4 100%);
  background: -o-linear-gradient(left, #642e90 0%, #2582c4 100%);
  background: linear-gradient(90deg, #642e90 0%, #2582c4 100%);
  padding: 0.1em; }

.slide3__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.panel3__conent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  @media (max-width: 769px) {
    .panel3__conent {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.panel3-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.33%;
  flex: 1 0 33.33%;
  height: 50%;
  padding: 20px; }

.panel3-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.panel3-item__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

._ibg {
  min-height: 100vh; }
  ._ibg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.box_filterPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  overflow: hidden; }
  .box_filterPanel .filterPanel {
    width: 57.5vw; }
    @media (max-width: 1600px) {
      .box_filterPanel .filterPanel {
        width: 77.5vw; } }
    @media (max-width: 769px) {
      .box_filterPanel .filterPanel {
        width: 97.5vw; } }

swiper-slide {
  color: white; }

.filter__check {
  font-size: 2em;
  margin: 1em 0 0 0;
  position: relative;
  /*&:before{
	content: '';
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	}*/ }

.slide__body {
  width: 100%;
  height: 100%; }

.panel__conent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.panel__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%; }

.panel-left__conent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.panel-left-top {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%; }

.panel-left-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 100%; }

.panel-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%; }

.panel-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.panel-item__content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.panel-item__btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%; }

.panel-left-bottom {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.panel__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%; }
