.content {
  min-height: 100vh; }

.slider__bg {
  min-height: 100vh;
  background: url("../img/EEC_tPP3RY0.jpg") 0 0/100% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 2839px) {
    .slider__bg {
      background-size: cover;
      background-position: 50% 40%; } }

#app {
  width: 70vw;
  height: 70vh;
  overflow-y: hidden;
  border-radius: 50px; }
  @media (max-width: 1600px) {
    #app {
      width: 90vw; } }
  @media (max-width: 769px) {
    #app {
      width: 98vw; }
      #app .sections-menu {
        display: none; }
      #app .slider {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #app .slider__list {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch; }
          #app .slider__list .item {
            margin: 0.5vh 0px; } }

._active .slide {
  -webkit-animation: slide_scrol 2s ease;
  animation: slide_scrol 2s ease; }

@-webkit-keyframes slide_scrol {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes slide_scrol {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.slider__bg__conent {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.slider {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black; }

.slider__scrol {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 12.5vw;
  flex: 0 0 12.5vw;
  padding: 5px;
  border: 1px solid #000;
  background-color: #000; }

.slider__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 5vh;
  flex: 1 1 5vh;
  border: 1px solid #000;
  margin: 0.5vh 0px;
  background-color: #fff; }
  .item:first-child {
    margin: 0px 0 0.5vh 0; }
  .item:last-child {
    margin: 0.5vh 0 0px 0; }

.slide1 .slider__item1 {
  border: 2px solid red; }

.slide2 .slider__item2 {
  border: 2px solid red; }

.slide3 .slider__item3 {
  border: 2px solid red; }

.slide4 .slider__item4 {
  border: 2px solid red; }

.item__title {
  text-align: center; }

.slider__slide1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 5px; }

.slide {
  background-color: #fff; }

.slide3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.slide3__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.panel3__conent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  @media (max-width: 769px) {
    .panel3__conent {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.panel3-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.33%;
  flex: 1 0 33.33%;
  height: 50%;
  padding: 20px; }

.panel3-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.panel3-item__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

._ibg {
  min-height: 100vh; }
  ._ibg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
